@import "tailwindcss";

/* Custom thin scrollbar (3px) */
.custom-scroll::-webkit-scrollbar {
  width: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #9ca3af; /* gray-400 */
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
